<div class="container-card">
    <div >
        <img class="img-card" src="/img/beer.png" alt="beer img">
        <div>
            <h2 class="text-white text-center">Title uno</h2>
            <p class="text-white text-center">description</p>
        </div>
        <div>
            <p class="text-white text-center">Price</p>
        </div>
        <button class="btn bg-primary mb-2 mx-5">Add to cart</button>
    </div>
</div>