<header class="m-2">
    <ul class="nav justify-content-end sections-container p-2">
        <li class="p-2 m-2"><a class="text-white text-decoration-none" href="#">Algo</a></li>
        <li class="p-2 m-2"><a class="text-white text-decoration-none" href="#">Algo</a></li>
        <li class="p-2 m-2"><a class="text-white text-decoration-none" href="#">PRODUCTS</a></li>
        <li class="p-2 m-2"><a class="text-white text-decoration-none" href="#">CART</a></li>
    </ul>
</header>