<div class="product-list bor">
    <div class="m-2">
        <img src="/img/beer.png" alt="pic beer" width="150">
    </div>
    <p class="m-5">Title</p>
    <p class="m-5">catidad:</p>
    <p class="m-5">price:</p>
</div>