<div class="sections-container text-center p-2">
    <h1 class="text-white">Welcome <%= name%></h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button class="logOutBoton" type="submit">LOGOUT</button>
    </form>
</div>